[submodule "Python-1"]
	path = Python-1
	url = https://github.com/voidrealms/Python-1.git
[submodule "Python-2"]
	path = Python-2
	url = https://github.com/voidrealms/Python-2.git
[submodule "Python-3"]
	path = Python-3
	url = https://github.com/voidrealms/Python-3.git
[submodule "Python-4"]
	path = Python-4
	url = https://github.com/voidrealms/Python-4.git
[submodule "Python-5"]
	path = Python-5
	url = https://github.com/voidrealms/Python-5.git
[submodule "Python-6"]
	path = Python-6
	url = https://github.com/voidrealms/Python-6.git
[submodule "Python-7"]
	path = Python-7
	url = https://github.com/voidrealms/Python-7.git
[submodule "Python-8"]
	path = Python-8
	url = https://github.com/voidrealms/Python-8.git
[submodule "Python-9"]
	path = Python-9
	url = https://github.com/voidrealms/Python-9.git
[submodule "Python-10"]
	path = Python-10
	url = https://github.com/voidrealms/Python-10.git
[submodule "Python-11"]
	path = Python-11
	url = https://github.com/voidrealms/Python-11.git
[submodule "Python-12"]
	path = Python-12
	url = https://github.com/voidrealms/Python-12.git
[submodule "Python-13"]
	path = Python-13
	url = https://github.com/voidrealms/Python-13.git
[submodule "Python-14"]
	path = Python-14
	url = https://github.com/voidrealms/Python-14.git
[submodule "Python-15"]
	path = Python-15
	url = https://github.com/voidrealms/Python-15.git
[submodule "Python-16"]
	path = Python-16
	url = https://github.com/voidrealms/Python-16.git
[submodule "Python-17"]
	path = Python-17
	url = https://github.com/voidrealms/Python-17.git
[submodule "Python-18"]
	path = Python-18
	url = https://github.com/voidrealms/Python-18.git
